*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-width: 22rem;
  }
  
body {
  min-width: 22rem;
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
}

@font-face {
  font-family: 'cocogooseregular';
  src: url('../fonts/cocogoose_pro-trial-webfont.woff2') format('woff2'),url('cocogoose_pro-trial-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Default Styles */
.text-darky {
    color: #272a31;
}

.text-orange {
    color: #ec5242;
}

.text-grey {
    color: #d3d3d3;
}

.bg-darky {
    background: #272a31;
}

.bg-orange {
    background: #ec5242;
}

.bg-grey {
    background: #d3d3d3;
}

.cursor-pointer {
    cursor: pointer;
}

/* Default Side Padding */
.default-p {
    padding: 0 20rem;
}

/* Navigation */
.top-nav {
    justify-content: flex-end;
    align-items: center;
}

.top-nav i {
    cursor: pointer;
}

.lower-nav {
    justify-content: space-between;
    align-items: center;
}

.page-menu {
    list-style-type: none;
}

.page-menu-item{
    font-size: 1.7 rem;
    font-weight: bold;
}

.page-menu-item:hover,
.page-menu-item:focus {
    color: #ec5242;
    text-decoration: none;
}

.nav-title {
    color: black;
}

/*Home - Main Section */
 .main {
    background-image: 
    linear-gradient(rgba(168, 168, 166, 0.192), rgba(168, 166, 166, 0.192)), 
    url(https://devfest.gdgrnd.ru/themes/gdg/assets/devfest2019/img/main-bg.png);
    /* background-repeat: no-repeat;
    background-size: cover; */
    padding-top: 13rem;

 }
 
/* Hero Section */
.hero-section {
    height: 600px;
}

.first-hero-text {
    font-size: 3.5rem;
}

.second-hero-text {
    font-size: 5.5rem;
    font-weight: 900;
}

.third-hero-text {
    padding: 2rem;
    border: 3px solid white;
    width: 60%;
    font-weight: 500;
    background: #eeeeee;
}

.hero-date-text {
    font-size: 2.8rem;
    font-weight: bold;
}

.hero-venue-text {
    font-size: 2rem;
}

/* Main Program Section */
.main-program {
    text-align: center;
    color: white;
    margin: 0 -20rem;
    padding: 7.6rem 20rem;
    border-bottom: 1px solid #fff;
    background-image: 
    linear-gradient(#272a31fb, #272a31fb), 
    url(../img/programs-bg-image2.jpg);
    background-repeat: repeat;
    background-size: contain;
}

.program-head-hr {
    width:3rem;
    background: #ec5242;
    color: #ec5242;
    height: 2px;
    margin: 0 auto;
}

.program-list {
    margin: 4rem 0 4rem;
    justify-content: center;
}

.program-item {
    flex-direction: column;
    width: 16.8rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(168, 168, 166, 0.192);
    padding: 2rem;
    transition-property: border;
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

.program-item:hover {
    /* box-sizing: content-box; */
    border: 2px solid white;
    margin: -2px;
}

.program-item i {
    font-size: 25px;
}

.program-title {
    font-size: 2.3rem;
}

.main-program-foot {
    border-bottom: 1px solid white;
} 

/* Speakers Section */
.speakers {
    text-align: center;
    margin: 0 -20rem;
    padding: 7.6rem 20rem;
    background: #eeeeee;
}

.speakers-main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    margin-top: 7.6rem;
}

.speaker-right {
    text-align: left;
    height: auto;
    /* width: 50%; */
}

.speaker-img {
    width: 160px;
    height: 160px;
    margin: 0;
    padding: 0;
}

.speaker-name {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.speaker-bio,
.speaker-seperator-line,
.speaker-body {
    margin: 0;
    padding: 0;
}

.speaker-bio {
    font-style: italic;
    font-weight: bolder;
}

.speaker-seperator-line {
    width: 2.5rem;
    height: 1.5px;
    background: rgba(168, 168, 166, 0.904);
}

/* Partners Section */
.partners {
    text-align: center;
    color: white;
    margin: 0 -20rem;
    padding: 7.6rem 20rem;
    border-bottom: 1px solid #fff;
    color: rgba(168, 168, 166, 0.904);
}

.partner-logo {
    width: 15rem;
}

/* About Page - Hero Section*/
.about-hero-section {
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.about-hero-head {
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 3.2rem;
}

.about-hero-head-hr {
    margin: 2rem auto;
}

.about-hero-text2 {
    margin: 4rem auto 7rem;
    background: #eeeeee;
}

.about-hero-text2 a{
    text-decoration: underline;
    /* color: #272a31; */
}

/* GDG Logo Section */
.gdg-logo-section {
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem;
}

.gdg-logo-head {
    font-size: 3rem;
}

.gdg-logo-main {
    padding: 3rem 7rem;
    width: max-content;
    margin: 0 auto;
    text-align: left;
    margin: 4.5rem auto;
}

/* Previous DevFests Section */
.past-devfests-section {
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem;
}

.previous-years-main {
    justify-content: space-between;
    margin: 3rem 0 9rem;
}

.previous-years-img {
    content: "";
    width: 275px;
    height: 150px;
    background-image: linear-gradient(#ec5342a1, #ec5342a1), 
    url(../img/priscilla-du-preez-W3SEyZODn8U-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2.5rem;
}

.previous-years-img2 {
    background-image: linear-gradient(#ec5342a1, #ec5342a1), 
    url(../img/helena-lopes-UZe35tk5UoA-unsplash.jpg);
}

/*Tickets - Main Section */
.tickets-main {
    background-image: 
    linear-gradient(rgba(168, 168, 166, 0.192), rgba(168, 166, 166, 0.192));
    padding-top: 13rem;
 }

.tickets-hero-section {
    height: 380px;
}

.step-diamond {
    content: "";
    height: 4px;
    width: 4px;
    transform: rotate(45deg);
}

.ticket-steps {
    border: 2px solid #d3d3d3;
    width: max-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0.8rem 1.5rem;
    border-radius: 20px;
}

.tickets-table-wrapper {
    width: 40rem;
    background-image: url(../img/red-blue-red-stripes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.tickets-table-head {
    background: #eeeeee;
}

.ticket-price {
    font-size: 2rem;
}

.ticket-submit {
    font-size: 1.2rem;
    padding: 0.7rem 4rem;
}
 
/* Footer Section */
.footer {
    height: 17.5rem; 
    align-items: center;
}
.home-footer {
    background: #eeeeee;
}

.cc-img {
    width: 20rem;
}